Always close connection when done with 100 continue

From commit 48891c816e335a86bdd2f9d714eb1579b5597088:

> Fixed incompatibility between rejecting body and keep alive

```
// Return the result immediately, and ensure that the connection is set to close
// Connection must be set to close because whatever comes next in the stream is either the request
// body, because the client waited too long for our response, or the next request, and there's no way
// for us to know which.  See RFC2616 Section 8.2.3.
```

See also #1346.

(This issue has already been resolved; I'm creating it to make it easier to track changes to 2.1.x.)
