[feature] Add TRACE as HTTP verb

### Play Version (2.5.x / etc)

Future

### API (Scala / Java / Neither / Both)


### Expected result

[RFC 7231](https://tools.ietf.org/html/rfc7231#section-4.3.8) defines a TRACE verb which reflects back original content:

```
The TRACE method requests a remote, application-level loop-back of
   the request message.  The final recipient of the request SHOULD
   reflect the message received, excluding some fields described below,
   back to the client as the message body of a 200 (OK) response with a
   Content-Type of "message/http" (Section 8.3.1 of [RFC7230]).  The
   final recipient is either the origin server or the first server to
   receive a Max-Forwards value of zero (0) in the request
   (Section 5.1.2).

   A client MUST NOT generate header fields in a TRACE request
   containing sensitive data that might be disclosed by the response.
   For example, it would be foolish for a user agent to send stored user
   credentials [RFC7235] or cookies [RFC6265] in a TRACE request.  The
   final recipient of the request SHOULD exclude any request header
   fields that are likely to contain sensitive data when that recipient
   generates the response body.

   TRACE allows the client to see what is being received at the other
   end of the request chain and use that data for testing or diagnostic
   information.  The value of the Via header field (Section 5.7.1 of
   [RFC7230]) is of particular interest, since it acts as a trace of the
   request chain.  Use of the Max-Forwards header field allows the
   client to limit the length of the request chain, which is useful for
   testing a chain of proxies forwarding messages in an infinite loop.

   A client MUST NOT send a message body in a TRACE request.

   Responses to the TRACE method are not cacheable.
```

Play does not have a registration for the TRACE verb, but it sounds useful and not that difficult to add.


We should also be aware of this: https://www.owasp.org/index.php/Cross_Site_Tracing

@marcospereira good catch!  Maybe disable it by default?

@wsargent being disable by default looks like a good idea to me. We should also document that some (most of?) front end HTTP servers returns a `405 Method Not Allowed` for TRACE requests.