what to do with jjwt 

currently I merged #8382 however there is still followup work to do.
the maintainer of jjwt is actually not really responsive.

See:
* https://github.com/jwtk/jjwt/pull/318
* https://github.com/jwtk/jjwt/pull/283

Currently we should actually either do the following:
* try to contact the author of the library to raise jjwt to work only on java 8 and upwards and merge 318
* fork jjwt and pull https://github.com/jwtk/jjwt/pull/318 and rerelease it under the play banner (this comes with the fact that we need to do maintenance over the project)
* change to `com.auth0 % java-jwt % 3.3.0` (maybe this library uses `java.util.Base64` already or another library)

we can also keep the situation as is, the other pr https://github.com/jwtk/jjwt/pull/283 would actually do the same thing than we did and just pull jaxb-api, depending if jjwt will support older versions than java8 it might be the only solution for them.


The jwt stuff is internal so switching should not be prohibitive. Are there other advantages to switching?

The [Nimbus](https://connect2id.com/products/nimbus-jose-jwt) library is another option.  It seems to be under very active development:  https://bitbucket.org/connect2id/nimbus-jose-jwt/commits/all?page=1

From the libraries listed [here](https://jwt.io/#libraries-io), the `java-jwt` from Auth0 looks as much feature complete as jjwt, and also maintained, well tested and with [minimal dependencies](https://github.com/auth0/java-jwt/blob/master/lib/build.gradle#L37-L38). So it seems like the best option.

> The jwt stuff is internal so switching should not be prohibitive. Are there other advantages to switching?

While we use it only internally, the dependency is still exposed to users, so it is possible that they are using it. We need at least to document the change in our migration guide.

well I'm not a fan that auth0 uses `commons-codec` my next PR actually will remove `commons-codec` from play.

@marcospereira jjwt will have a fix that does not require jaxb on JDK >= 8.  Should be out in the next few days.

Hi @lhazlewood,

Thanks for letting us know! We will update it before releasing Play 2.7. If it is binary compatible, then we can also update in Play 2.6.x. :-)

P.S. I don't know if Play generated keys for users, but the new documentation on Signature Algorithms and Key strength is important: https://github.com/jwtk/jjwt/tree/0.10.0#jws-key

@lhazlewood we HMAC but do not encrypt the session cookie, so the key has to be [64 bytes](https://github.com/jwtk/jjwt/tree/0.10.0#hmac-sha) at maximum.

The JWT codec uses a session secret that is configurable by the user.  When a new application is generated, then the default secret is 64 bytes long (although it is constrained to alphanumeric characters) https://github.com/playframework/playframework/blob/master/framework/src/sbt-plugin/src/main/scala/play/sbt/ApplicationSecretGenerator.scala#L19 

So there is the possibility that an older application has "changeme" as the application secret, and that will explode.  We should create a bug for this.

@wsargent yep, 64 bytes (512 bits) secure random is as strong as you'll need for HMAC-SHA.

That said, I'd recommend against using a (small/fixed) character set to generate secrets - that has much less entropy.  It's best to use SecureRandom and .nextBytes to populate a byte array and then Base64-encode the byte array to obtain the alphanumeric-only representation.

Additionally, it's important to [seed the SecureRandom before you use it](https://tersesystems.com/blog/2015/12/17/the-right-way-to-use-securerandom/).  Here's how JJWT does it - feel free to copy (it's ASL 2.0 code):

```java
/**
 * JJWT's default SecureRandom number generator.  This RNG is initialized using the JVM 
 * default as follows:
 *
 * <pre><code>
 * static {
 *     DEFAULT_SECURE_RANDOM = new SecureRandom();
 *     DEFAULT_SECURE_RANDOM.nextBytes(new byte[64]);
 * }
 * </code></pre>
 *
 * <p><code>nextBytes</code> is called to force the RNG to initialize itself if not 
 * already initialized.  The byte array is not used and discarded immediately for 
 * garbage collection.</p>
 */
public static final SecureRandom DEFAULT_SECURE_RANDOM;

static {
    DEFAULT_SECURE_RANDOM = new SecureRandom();
    DEFAULT_SECURE_RANDOM.nextBytes(new byte[64]);
}
```

I don't know where else you might use `SecureRandom` or how often one might be used, but it's also a good idea to declare it as a constant (like JJWT does above) since initialization overhead might be non-negligible.

Finally, if you choose to use JJWT do this for you in `ApplicationSecretGenerator`, you can just do:

```java
SecretKey key = Keys.secretKeyFor(SignatureAlgorithm.HS512);
String secret = Encoders.BASE64.encode(key.getEncoded());
```

The resulting secret is safe to use in all HMAC-SHA algorithms.  And for anyone else following this thread, note that the resulting `secret` string is still a secret - it's just encoded (not encrypted), so it still needs to be treated as a raw private secret and kept as safe as a password (for example).

@lhazlewood thanks for the link to my blog post!

@wsargent I didn't know Terse Systems was yours!  In that case, I'm more surprised now that `ApplicationSecretGenerator` doesn't currently seed the SecureRandom instance :-P

ApplicationSecretGenerator uses the no-args constructor of `SecureRandom`, so it does self-seed.  The thing that people used to do and absolutely should not was to try to seed SecureRandom themselves, i.e. https://stackoverflow.com/questions/7608089/should-i-seed-a-securerandom

Depending on `jaxb-api` brings in `javax.activation:javax.activation-api:1.2.0` transively. The issue with that library is that it's `GPL`.

With `jjwt:0.10.0` (and newer) versions out, we should be able to upgrade from the current `0.9.1` dependency and get rid of `jaxb-api`. The issue with `jjwt` post  `0.9.1` is that the artifacts change and instead of a single jar it's now a collection of them so the version upgrade could require a bit of extra work.

This is not a blocker for 2.7.0.

Play fails with the latest jjwt:

> [error]    io.jsonwebtoken.security.WeakKeyException: The signing key's size is 64 bits which is not secure enough for the HS256 algorithm.  The JWT JWA Specification (RFC 7518, Section 3.2) states that keys used with HS256 MUST have a size >= 256 bits (the key size must be greater than or equal to the hash output size).  Consider using the io.jsonwebtoken.security.Keys class's 'secretKeyFor(SignatureAlgorithm.HS256)' method to create a key guaranteed to be secure enough for HS256.  See https://tools.ietf.org/html/rfc7518#section-3.2 for more information. (SignatureAlgorithm.java:371)

Ah, default in `reference.conf` is `changeme`, which is 8 bytes or 64 bits.

Hmm, that doesn't seem to be it. I put `vQU@MgnjTohP?w>jpu?X0oqvmz21o[AHP;/rPj?CB><YMFcl?xXfq]6o>1QuNcXU` (generated by `playGenerateSecret`) in `core/play/src/main/resources/reference.conf` and `core/play/src/test/resources/reference.conf` and `testOnly play.api.mvc.CookiesSpec` still fails. I'm at a loss now as to what's going on. I'm going to give up on this for now unless anyone else has ideas

Hi, still having the same issue
```
io.jsonwebtoken.security.WeakKeyException: The signing key's size is 168 bits which is not secure enough for the HS256 algorithm.  The JWT JWA Specification (RFC 7518, Section 3.2) states that keys used with HS256 MUST have a size >= 256 bits (the key size must be greater than or equal to the hash output size).  Consider using the io.jsonwebtoken.security.Keys class's 'secretKeyFor(SignatureAlgorithm.HS256)' method to create a key guaranteed to be secure enough for HS256.  See https://tools.ietf.org/html/rfc7518#section-3.2 for more information.
	at io.jsonwebtoken.SignatureAlgorithm.assertValid(SignatureAlgorithm.java:387)
	at io.jsonwebtoken.SignatureAlgorithm.assertValidSigningKey(SignatureAlgorithm.java:315)
	at io.jsonwebtoken.impl.DefaultJwtBuilder.signWith(DefaultJwtBuilder.java:122)
	at io.jsonwebtoken.impl.DefaultJwtBuilder.signWith(DefaultJwtBuilder.java:134)
	at io.jsonwebtoken.impl.DefaultJwtBuilder.signWith(DefaultJwtBuilder.java:142)
	at play.api.mvc.JWTCookieDataCodec$JWTFormatter.format(Cookie.scala:776)
	at play.api.mvc.JWTCookieDataCodec.encode(Cookie.scala:631)
	at play.api.mvc.JWTCookieDataCodec.encode$(Cookie.scala:629)
	at play.api.mvc.DefaultJWTCookieDataCodec.encode(Cookie.scala:816)
	at play.api.mvc.FallbackCookieDataCodec.encode(Cookie.scala:798)
	at play.api.mvc.FallbackCookieDataCodec.encode$(Cookie.scala:798)
	at play.api.mvc.DefaultSessionCookieBaker.encode(Session.scala:123)
	at play.api.mvc.CookieBaker.encodeAsCookie(Cookie.scala:466)
	at play.api.mvc.CookieBaker.encodeAsCookie$(Cookie.scala:465)
	at play.api.mvc.DefaultSessionCookieBaker.encodeAsCookie(Session.scala:123)
	at play.api.mvc.Result.$anonfun$bakeCookies$2(Results.scala:354)
	at scala.Option.map(Option.scala:242)
	at play.api.mvc.Result.bakeCookies(Results.scala:353)
	at play.core.server.common.ServerResultUtils.prepareCookies(ServerResultUtils.scala:291)
	at play.core.server.AkkaHttpServer.$anonfun$runAction$5(AkkaHttpServer.scala:432)
	at scala.concurrent.impl.Promise$Transformation.run(Promise.scala:434)
	at akka.dispatch.TaskInvocation.run(AbstractDispatcher.scala:48)
	at akka.dispatch.ForkJoinExecutorConfigurator$AkkaForkJoinTask.exec(ForkJoinExecutorConfigurator.scala:48)
	at java.base/java.util.concurrent.ForkJoinTask.doExec(Unknown Source)
	at java.base/java.util.concurrent.ForkJoinPool$WorkQueue.topLevelExec(Unknown Source)
	at java.base/java.util.concurrent.ForkJoinPool.scan(Unknown Source)
	at java.base/java.util.concurrent.ForkJoinPool.runWorker(Unknown Source)
	at java.base/java.util.concurrent.ForkJoinWorkerThread.run(Unknown Source)
```

Pull request to upgrade to latest jjwt: #10726