ServerCookieDecoder fails on MS Forefront Cookies

### Play Version (2.5.x / etc)
2.4.6 


### API (Scala / Java / Neither / Both)
Both


### Operating System (Ubuntu 15.10 / MacOS 10.10 / Windows 10)
MacOS 10.10.5

### JDK (Oracle 1.8.0_72, OpenJDK 1.8.x, Azul Zing)
java version "1.8.0_60"
Java(TM) SE Runtime Environment (build 1.8.0_60-b27)
Java HotSpot(TM) 64-Bit Server VM (build 25.60-b23, mixed mode)

### Expected Behavior

Please describe the expected behavior of the issue, starting from the first action.

1. Request comes through to Play Application
2. Application is able to process all the cookies provided by the client

### Actual Behavior

When accessing a Play Application which is protected by a Microsoft Forefront Thread Management Gateway, Play is unable to parse the cookies that get added by Forefront and logs errors. 

1. Request comes through to Play Application
2. Application is able to process the request, but discards the forefront cookies.
3. Application is logging a bunch of errors:

`[debug] p.c.n.u.ServerCookieDecoder -  - Skipping cookie because name 'ISAWPLB{A4D1594B-30DE-4106-BC7B-027F6860E14C}' contains invalid char '{'`

`[debug] p.a.h.MediaRange -  - Unable to parse part of media range header 'text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,*/*;q=0.8'`

`[debug] p.c.n.u.ServerCookieDecoder -  - Skipping cookie because name 'ISAWPLB{A4D1594B-30DE-4106-BC7B-027F6860E14C}' contains invalid char '{'`

`[debug] p.a.mvc.Cookies - 9c6ed314-6623-4ece-a1ac-c93ff17f9e05 - Couldn't decode the Cookie header containing:`

`[debug] p.c.n.u.ServerCookieDecoder -  - Skipping cookie because name 'ISAWPLB{A4D1594B-30DE-4106-BC7B-027F6860E14C}' contains invalid char '{'`



### Reproducible Test Case
see attached curl script (rename from sh.txt to .sh)
[cookieError.sh.txt](https://github.com/playframework/playframework/files/252223/cookieError.sh.txt)



Hi @domdorn,

There may be something we can do here, but this is technically not a bug in Play.

According to [RFC6265 section 4.1.1](https://tools.ietf.org/html/rfc6265#section-4.1.1):
```
    cookie-name       = token
    token             = <token, defined in [RFC2616], Section 2.2]>
```
[RFC2616 section 2.2](https://tools.ietf.org/html/rfc2616#section-2.2) defines `token` as:
```
    token          = 1*<any CHAR except CTLs or separators>
    separators     = "(" | ")" | "<" | ">" | "@"
                      | "," | ";" | ":" | "\" | <">
                      | "/" | "[" | "]" | "?" | "="
                      | "{" | "}" | SP | HT
```
The separator `{` is an invalid character in a cookie name.

That's not to say we couldn't interpret the spec more liberally in this case, but the issue should probably also be raised with MS Forefront since they are producing invalid cookies.

@domdorn maybe this could be useful to you:

https://github.com/playframework/playframework/blob/2.5.3/framework/src/play/src/main/resources/reference.conf#L113-L121

@gmethvin I did not dig enough at the code here, but maybe we can turn cookie parsers into a module that could de disabled and replaced by users. That way, we won't need to implement code that is not in conformance with RCF, but users will have a way to do it by themselves. What do you think?

@marcospereira @domdorn Actually I didn't dig deep enough initially. It is possible to disable to cookie validation by setting:
```
play.http.cookies.strict = false
```
That turns off the validation that's causing this error in the `ServerCookieDecoder`. So that's probably the best workaround here.

It makes sense for it to be on by default, though, so I'm not sure there's anything else we can or should do in Play.

Note that this strict cookie parsing mode was added due to some vulnerabilities with demonstrated exploits that lenient cookie parsing allowed.

thx @jroper for the info!