RFC 7303 changes XML media type default

Per [RFC 7303](https://tools.ietf.org/html/rfc7303), XML media type should be processed according to a [complicated input mechanism](https://tools.ietf.org/html/rfc7303#section-3). 

   Compared to [RFC2376] or [RFC3023], this specification alters the
   handling of character encoding of text/xml and text/xml-external-
   parsed-entity, treating them no differently from the respective
   application/ types.  However, application/xml and application/xml-
   external-parsed-entity are still RECOMMENDED, to avoid possible
   confusion based on the earlier distinction.  The former confusion
   around the question of default character sets for the two text/ types
   no longer arises because

      [RFC7231] changes [RFC2616] by removing the ISO-8859-1 default and
      not defining any default at all;

      [RFC6657] updates [RFC2046] to remove the US-ASCII [ASCII]
      default.

This should replace the logic previously used:

```java
// According to RFC 3023, the default encoding for text/xml is us-ascii. This contradicts RFC 2616, which
// states that the default for text/* is ISO-8859-1.  An RFC 3023 conforming client will send US-ASCII,
// in that case it is safe for us to use US-ASCII or ISO-8859-1.  But a client that knows nothing about
// XML, and therefore nothing about RFC 3023, but rather conforms to RFC 2616, will send ISO-8859-1.
// Since decoding as ISO-8859-1 works for both clients that conform to RFC 3023, and clients that conform
// to RFC 2616, we use that.
```

https://github.com/playframework/playframework/blob/master/framework/src/play/src/main/scala/play/api/mvc/BodyParsers.scala#L661