Document how Akka HTTP and Netty server backends handle Transfer-Encoding

### Play Version (2.5.x / etc)

2.6.0+

### API (Scala / Java / Neither / Both)

Both.

### Description

When making a `POST` request to Play using `Transfer-Encoding: chunked` **and** setting `Content-Length` header, Akka HTTP and Netty backend work differently:

1. Akka HTTP follows what is described in [RFC 7230 section 3.3.2](https://tools.ietf.org/html/rfc7230#section-3.3.2) that says "_a sender MUST NOT send a Content-Length header field in any message that contains a Transfer-Encoding header field_".
2. Netty backend is permissive and allows such request.

We need to make this difference explicit in our docs.

Refs #8824  (?)